PORT=5000
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/secure_file_storage?schema=public"

#jwt
JWT_SECRET="your_super_secret_jwt_key_change_in_production"
JWT_EXPIRES_IN="7d"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
CLOUDINARY_UPLOAD_FOLDER="secure_file_storage"
MAX_FILE_SIZE_MB=100